

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #383a3c;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

a, button {
	outline: none;
}

a {
	color: #566473;
	text-decoration: none;
}

a:hover, a:focus {
	color: #34495e;
}

section {
	padding: 1em;
	text-align: center;
}

p.ref {
	text-align: center;
	padding: 2em 1em;
}
	
.tests_content
{
	width: 80%;
	height: 80%;
	margin: 10%;
	border: 2px solid #1abc9c;
	background-color: #fff;
	display: block;
	position: relative;
}
.tcdiv
{
	width: 33.33%;
	background-color: #fff;
	color : #000;
	float: left;
	text-align: center;
	
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.tcdiv i
{
	font-size: 2em;
}
.tc_content
{
	position: absolute;
	height: 80%;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-color: #fff;
}
.tc_content ul li
{
	padding : 1.5em;
}
.tc_content ul
{
	height: 80%;
	display: block;
}
.tc_content ul li
{

	display: inline-block;
}
.tc_content ul li a:hover
{
	color: #1abc9c;
}
.tc_content ul
{
	list-style: none;
}
.tcphy
{
	z-index: 10;
}
.tc1
{
	color: #1abc9c;
}
.tc2, .tc3
{
	background-color: #ccc;
}



@media screen and (max-width: 40em) {

	.codrops-header h1 {
		font-size: 2.5em;
	}
}